*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
}
.container{
    max-width: 1000px;
    margin: auto;
}
header{
    background-color: #14195c;
    text-align: center;
    color: white;
    padding: 10px;
}
.title{
    font-size: 26px;
}
section{
    padding: 20px;
    background-image: url(../img/people.jpg);
    background-size: cover;
    overflow: hidden;
}
.formcontainer{
    max-width: 230px;
    background-color: rgba(105, 105, 105, 0.9);
    padding: 20px;
    float: right;
}
h2{
    font-size: 16px;
}
.mb{
    margin-bottom: 15px;
    color: white;
}
input, select{
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    border: none;
    margin-bottom: 10px;
}
input[type="submit"]{
    color: white;
    background-color: #14195c;
    font-weight: bold;
    border: 1px solid #14195c;
}
input[type="submit"]:hover{
    color: white;
    background-color: #48c5ce;
    font-weight: bold;
    border: 1px solid #000000;
}
select{
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background-image: url(../img/arrow.jpg);
    background-repeat: no-repeat;
    background-position-x: calc(100% - 10px);
    background-position-y: center;
}
footer{
    background-color: #3d3d3d;
    padding: 40px;
    text-align: center;
}
.picture{
    width:280px;
    margin-bottom: 60px;
}
.description{
    text-align: left;
    color: white;
    display: inline-block;
    max-width: 40%;
    margin-left: 40px;
}
.description p, .description h3{
    margin-bottom: 20px; 
}
.description h3{
 font-size: 24px;
}
@media screen and (max-width:635px) {
    .formcontainer{
        max-width: 100%;
        background-color: rgba(105, 105, 105, 0.9);
        padding: 20px;
    }
    .description{
        text-align: left;
        color: white;
        display: inline-block;
        max-width: 100%;
        margin-left: 10px;
    }
}
